@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fade-in-left {
    from {
        transform: translateX(-20px) scale(0.98);
    }
    to {
        transform: translateX(0px) scale(1);
    }
}

@keyframes fade-in-down {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(0px);
    }
}


@keyframes fade-in-up {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes fade-out-up {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-20px);
    }
}

@keyframes fade-out-left {
    from {
        transform: translateX(0px) scale(1);
    }
    to {
        transform: translateX(-20px) scale(0.98);
    }
}


@keyframes expand {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 90vh; /* Adjust based on your content */
    opacity: 1;
  }
}

@keyframes shrink {
  0% {
    max-height: 90vh;
    opacity: 1;
  }
  100% {
    max-height: 0; /* Adjust based on your content */
    opacity: 0;
  }
}



@keyframes slide-in-down {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes slide-in-up {
    from {
        transform: none;
        opacity: 1;
    }
    to {
        transform: translateY(-10px);
        opacity: 0;
    }
}


@keyframes slide-in-left {
    from {
        transform: none;
        opacity: 1;
    }
    to {
        transform: translateX(-15px);
        opacity: 0;
    }
}
