.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.title {
    border: none;
    background: none;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 3rem;
    text-align: center;
    width: 100%;
    animation: fade-in 0.5s linear, fade-in-down 0.5s linear;
}

@media (max-width: 576px) {
  .title {
    min-height: 0vw;
    font-size: clamp(1.3rem, 6vw, 2rem);
  }
}

.title.animate {
    animation: fade-out 0.3s ease-in, fade-out-up 0.3s ease-in;
}

.title:focus {
    outline: none;
}

.stop-scroll {
    height: 100%;
    overflow: hidden;
}