.link {
    cursor: pointer;
}

.page-container .card-body {
    animation: expand 1s ease forwards;
}

.card {
    min-width: 330px;
    animation: fade-in 0.3s ease-out;
}

.page-container .card {
    min-width: 100px;
}

.page-container .animate .card-body {
    animation: shrink 0.2s ease forwards;
}

.animate .card {
    animation: fade-out 0.3s ease-out;
}

.input-icon, .input-icon svg {
    fill: var(--bs-border-color);
    width: 23px;
    height: 23px;
    position: absolute;
    top: 50%;
    left: 0.75rem;
    transform: translateY(-50%);
    z-index: 3;
}

.form-floating input, .form-floating .label-icon {
    padding-left: 2.7rem !important;
}

@media (max-width: 576px) {
    .card {
        scale: 0.9;
        padding-top: 0;
    }
}