.dimmer {
    position: fixed;
    padding-top: 3.7rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 100vh;
    animation: fade-in 0.3s ease-out forwards;
    overflow-y: auto;
    z-index: 100;
}

/* set background on a background layer instead of the dimmer itself due to
 weird translucent layering issues for scrollable dimmer on smaller screens */
.dimmer::before {
    content: '';
    position: fixed;
    margin-top: 60px;
    inset: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: -1;
    pointer-events: none;
}

@media (max-width: 767px) {
    .dimmer::before {
        margin-top: 48px;
    }

    .close-button {
        margin-top: 0 !important;
        margin-right: 24px !important;
    }
}

.no-margin.dimmer::before {
    margin-top: 0;
}

.content-wrapper {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    will-change: transform;
    transform: translateZ(0);
    /* animation: fade-in 0.3s ease-out forwards; */
}

.content-wrapper.animate {
    animation: fade-out 0.3s ease-out;
    opacity: 0;
}

.dimmer.animate {
    animation: fade-out 0.3s ease-out;
    opacity: 0;
}

.close-button {
    margin-top: 6.7rem;
    margin-right: 3rem;
}

[data-bs-theme="light"] .close-button {
    fill: rgba(255, 255, 255, 0.65) !important;
    stroke: none !important;
}

[data-bs-theme="light"] .close-button:hover {
    fill: #fff !important;
}

@media (max-width: 576px) {
    .dimmer {
        padding-bottom: 200px;
    }
}