.footer {
    background-color: transparent;
    color: var(--bs-secondary-color);
    padding: 1.5rem 5%;
    margin-top: 1rem;
    font-size: 0.9rem;
    border-top: 1px solid var(--bs-border-color);
}

.footer-content {
    /* max-width: 1200px; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.footer a {
    display: flex;
    align-items: center;
    color: var(--bs-secondary-color);
    text-decoration: none;
    margin-left: 1.5rem;
    transition: color 0.2s ease;
    gap: 3px;
}

.footer a:hover {
    color: var(--bs-body-color);
}

.footer-left,
.footer-right {
    display: flex;
    align-items: center;
}

.footer p {
    margin: 0;
}

.link-icon {
    width: 18px;
    height: 18px;
}

.link-icon.stroke {
    stroke: var(--bs-secondary-color);
    transition: stroke 0.2s ease;
}

.link-icon.fill {
    fill: var(--bs-secondary-color);
    transition: fill 0.2s ease;
}

.footer a:hover .link-icon.stroke {
    stroke: #fff;
}

.footer a:hover .link-icon.fill {
    fill: #fff;
}