.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
    border-radius: 20px;
}

.list .sorting-header {
    cursor: pointer;
    white-space: nowrap;
}

.list .form-select {
    border: none;
    background: none;
    width: 4rem;
    transition: background 1s ease-in-out;
}

.list .form-select:hover {
    background-image: var(--bs-form-select-bg-img);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
}

.list .rating-column {
    width: 6rem;
    padding-right: 9px;
}

@media (max-width: 767px) {
    .list .rating-column {
        width: fit-content;
        padding-right: 0;
    }
}

.list h2 {
    font-size: large;
}

.list h3 {
    font-size: small;
}

.list-show-poster {
    width: 6rem;
}

.list-show-poster-container {
    width: 6rem;
}


@keyframes slide-in-down {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        border-collapse: separate !important;
    }
}

.stagger-row {
    animation: slide-in-down 0.4s ease forwards;
    opacity: 0;
}



.list table {
    cursor: default;
    animation: fade-in 0.4s ease backwards;
    /* border-collapse: separate;
    border-spacing: 0; */
    border-bottom: transparent;
    transition: background-color, 0.3s, ease-in-out;
}



.popup-button-svg {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    fill: currentColor;
    opacity: 0;
    transition: opacity, 0.1s ease-in-out;
}

.popup-button-svg:hover {
    fill: var(--bs-emphasis-color);
}

.stagger-row:hover .popup-button-svg {
    opacity: 1;
}

.popup-button-container {
    width: 25px;
}

.popup-card {
    max-width: fit-content;
}