.list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
    border-radius: 20px;
}

.list-container .sorting-header {
    cursor: pointer;
    white-space: nowrap;
}

.list-container .form-select {
    border: none;
    background: none;
    width: 4rem;
    transition: background 1s ease-in-out;
}

.list-container .form-select:hover {
    background-image: var(--bs-form-select-bg-img);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
}

.list-container .rating-column {
    width: 6rem;
    padding-right: 9px;
}

.list-show-poster {
    width: 6rem;
}

.list-show-poster-container {
    width: 6rem;
}


.list-container h2 {
    font-size: large;
}

.list-container h3 {
    font-size: small;
}

@keyframes slide-in-down {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes slide-in-up {
    from {
        transform: none;
        opacity: 1;
    }
    to {
        transform: translateY(-10px);
        opacity: 0;
    }
}


@keyframes slide-in-left {
    from {
        transform: none;
        opacity: 1;
    }
    to {
        transform: translateX(-15px);
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.list .list-row.animate {
    opacity: 0;
    animation: slide-in-down 0.4s ease forwards;
}

.list-row.remove {
    animation: slide-in-left 0.3s ease forwards;
}

.list-container .list {
    animation: fade-in 0.4s ease backwards;
    /* border-collapse: separate;
    border-spacing: 0; */
}

.list.animate {
    opacity: 0;
    animation: slide-in-up 0.4s ease backwards;
}

.list-container table {
    cursor: default;
    border-bottom: transparent;

}

.list-container * {
    transition: background-color 0.2s ease-out, color 0.05s ease-out;
}

.dragged-listing {
    opacity: 0.8;
    transition: opacity 0.2s ease-out;
    cursor: grab;
}


.popup-button-svg {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    fill: currentColor;
    opacity: 0;
    transition: opacity, 0.1s ease-in-out;
}

.popup-button-svg:hover {
    fill: var(--bs-emphasis-color);
}

.list-row:hover .popup-button-svg {
    opacity: 1;
}

.popup-button-container {
    width: 25px;
}

.popup-card {
    max-width: fit-content;
}

.not-clickable {
    cursor: default !important;
}

.date-column {
    width: clamp(126px, 15vw, 288px);
}

@media (max-width: 767px) {
    .list-container .rating-column {
        width: fit-content;
        padding-right: 0;
    }

    .list-show-poster {
        width: clamp(4rem, 12vw, 6rem);
    }

    .list-show-poster-container {
        width: clamp(4rem, 12vw, 6rem);
    }

    .list-container * {
        font-size: clamp(0.2rem, 3.5vw, 1rem);
    }

    .list-container h2 {
        font-size: clamp(0.2rem, 3.5vw, 1rem);
    }

    .list-container h3 {
        font-size: clamp(0.2rem, 3vw, 0.8rem);
    }

    .title {
        font-size: clamp(1.3rem, 6vw, 2rem);
    }

    .popup-button-container, .popup-button-svg {
        width: clamp(18px, 5vw, 25px);
    }

    .rating-column {
        text-align: center !important;
    }
}

@media (max-width: 476px) {
    .list-container .form-select {
        width: clamp(2.3rem, 11vw, 4rem);
        padding: 0;
        margin-left: 10px;
    }

    .list-container .form-select:hover {
        background-size: clamp(0.2rem, 3vw, 0.8rem) clamp(0.2rem, 3vw, 0.8rem);
    }
}
