.show-preview {
    margin: 0 5%;
    color: white;
    animation: fade-in-down 0.3s linear;
    max-height: 100vh;
}

.show-preview.animate {
    animation: fade-out-up 0.3s linear;
}

.show-preview img {
    display: inline;
    width: 30%;
    max-width: 396px;
    padding-right: 3.5rem;
}

.show-preview h2, .show-preview h3 {
    font-size: 1.25rem;
    font-weight: 100;
}


@media (max-width: 991px) {
  .show-preview img {
    padding-right: 2rem;
    object-fit: contain
  }
}

@media (max-width: 767px) {
  .show-preview img {
    margin: 5rem auto 5%;
    padding: 0 2rem;
    width: 100%;
  }

  .show-preview h2, .show-preview h3 {
    font-size: 1rem;
  }

  .show-preview-form {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
  }

  .show-preview button.btn-success {    
    position: absolute;
    bottom: 0;
    right: 0;
  }
}



.show-preview-form-wrapper {
    position: relative;
}


.show-preview button.btn-success {
    font-size: 1.25rem;
    transition: all 0.15s ease-out;
}

.show-preview button.btn-success:active {
    scale: 0.95;
}

.show-preview-description {
    font-weight: 200;
    text-indent: 2rem;
    margin: 1.5rem 0;
    text-align: justify;
}