.profile-picture-wrapper {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.profile-picture {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.edit-picture {
    cursor: pointer;
    transition: filter 0.3s ease;
}

.edit-picture:hover {
    filter: brightness(50%);
}

.edit-icon {
    opacity: 0;
    fill: #000000AA;
    width: 20px;
    height: 20px;
    position: absolute;
    top: calc(50% - 8px);
    transition: transform 0.2s ease-out, opacity 0.2s ease;
}

.edit-picture:hover .edit-icon {
    opacity: 1;
}

.edit-picture:active .edit-icon {
    transform: scale(0.8);
}

.list-container {
    max-height: 95%;
    overflow: auto;
}


@media (max-width: 767px) {
    .list-container {
        overflow: hidden;
    }

    /* .page-container {
        overflow: auto;
    } */
}

.invalid-tooltip {
  top: auto !important;     /* unset bottom placement */
  bottom: 100%;             /* place tooltip above the input */
  left: 0 !important;       /* align to the left */
  transform: translateY(-0.25rem); /* some spacing above input */
}

.share-button {
    position: absolute;
    right: 10px;
    cursor: pointer;
    fill: var(--bs-border-color);
    width: 18px;
    height: 18px;
    opacity: 0;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out, fill 0.2s ease-out;
}

.card-body:hover .share-button {
    opacity: 1;
}

.share-button:active {
    transform: scale(0.9);
}

.share-button:hover {
    fill: var(--bs-secondary-color);
}

@media (min-width: 768px) {
    .page-container {
        overflow: hidden;
        height: 91vh;
    }

    .list-wrapper {
        position: relative;
        height: 100%; /* limit height for scroll to appear */
        /* background-color: var(--bs-body-bg); */
        overflow: hidden;
        transition: background-color 0.2s ease-out;
    }

    /* make it scrollable */
    .list-container {
        padding-top: 20px;
        max-height: 100%;
        overflow-y: auto;
        background-color: transparent;
    }

    /* bottom fade */
    .list-wrapper {
        -webkit-mask-image: linear-gradient(to bottom,
            transparent 4%,     /* Top fade start */
            black 8%,           /* Top fade end */
            black 96%,          /* Bottom fade start */
            transparent 100%    /* Bottom fade end */
        );
        mask-image: linear-gradient(to bottom,
            transparent 4%,
            black 8%,
            black 96%,
            transparent 100%
        );

        -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    }
}

.page-container .card-body, .page-container .card-header, .page-container .card-footer {
    border: none;
    background: none;
    padding-top: 2rem;
}

.page-container .card {
    background: none;
}

.page-container .card-footer {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.page-container .card-body {
    padding-top: 1rem;
}