.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.title {
    border: none;
    background: none;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 3rem;
    text-align: center;
    width: 100%;
}

.title:focus {
    outline: none;
}

.stop-scroll {
    height: 100%;
    overflow: hidden;
}